$mq: 800px;

$white: #ffffff;

$pink: #FF6698;
$pink-dark: darken($pink, 25%);

$red: #F66B62;
$red-dark: darken($red, 25%);

$orange: #FF8D66;
$orange-dark: darken($orange,20%);

$yellow: #FFC666;
$yellow-dark: darken($yellow, 25%);

$green: #52CC82;
$green-dark: darken($green, 25%);

$blue: #50CCCC;
$blue-dark: darken($blue, 25%);

$black: #4B5454;
$black-dark: darken($black, 25%);
$black-light: lighten($black, 25%);

@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/Questrial-Regular.ttf') format('ttf');
}

* + * {
  box-sizing: border-box;
}

body {
  color: $white;
  font-family: 'Questrial', sans-serif;
  font-size: 14px;

  background-color: $orange;
  margin: 0;
  padding: 9px;
  height: 100vh;

  @media screen and (min-width: $mq) {
    font-size: 16px;
  }
}

a {
  color: lighten($orange, 25%);
  text-decoration: none;
}

lisht {
  display: block;
}

.bookmarklist {
  list-style: none;

  display: flex;
  flex: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $mq) {
    flex-direction: row;
  }
}

.bookmarklist__listelement {
  width: 100%;

  @media screen and (min-width: $mq) {
    margin-right: 9px;
    width: calc((100% / 3) - ((2 * 9px) / 3));

    &:last-child {
      margin-right: 0;
    }
  }
}

.bookmarklist__sublist {
  list-style: none;

  margin: 0 0 9px 0;
  padding: 0;
}

.bookmarklist__form {
  text-align: right;
}

.bookmarklist__form__input {
  color: $white;
  font-family: 'Questrial';
  font-size: 14px;

  background-color: lighten($orange, 15%);
  border: 1px solid lighten($orange, 15%);
  margin-bottom: 5px;
  padding: 18px 9px;
  width: 100%;

  &::-webkit-input-placeholder {
     color: $orange;
  }

  &:active,
	&:focus {
    border: 1px solid $white;
		outline: none;
	}
}

.bookmarklist__form__button {
  color: lighten($orange, 15%);
  font-size: 14px;

  border: 1px solid lighten($orange, 15%);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 12px 6px;
  transition: background-color, color 0.25s, 0.1s ease-in-out;
  width: calc(100% / 3);

  &:active,
  &:focus {
    color: $white;
    
    border-color: $white;
    outline: none;
  }

  &:hover,
  &:active {
    color: $orange;
    background-color: lighten($orange, 15%);
  }
}

bookmark {
  display: block;
  transition: background-color 0.25s ease-in-out;
  height: 52px;

  &:hover,
  &:active {
    background-color: $white;

    .bookmark__link {
      color: $orange;
    }
  }
}

.bookmark {
  position: relative;
  height: 100%;
}

.bookmark__link {
  text-overflow: ellipsis;
  white-space: nowrap;

  display: inline-block;
  padding: 18px 9px 18px 9px;
  overflow: hidden;
  transition: color 0.1s ease-in-out;
  max-width: calc(100% - 18px);

  bookmark:hover &,
  bookmark:active & {
    max-width: calc(100% - 100px);
  }
}

.bookmark__button-wrapper {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.bookmark__button {
  color: $white;

  background-color: lighten($orange, 15%);;
  border: none;
  cursor: pointer;
  opacity: 0;

  bookmark:hover &,
  bookmark:active & {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.5s;
  }

  &:hover,
  &:active {
    background-color: $orange;
  }
}

.bookmark__form-wrapper {
  background-color: $white;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.bookmark__form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bookmark__form__label {
  color: $orange;

  display: block;
  margin-bottom: 5px;
}

.bookmark__form__input {
  @extend .bookmarklist__form__input;

  border: 1px solid lighten($orange, 15%);
  margin-bottom: 18px;
  width: 400px;

  &:focus {
    border: 1px solid $orange-dark;
  }
}

.bookmark__form__button {
  @extend .bookmarklist__form__button;

  color: $orange;

  border-color: $orange;

  &:hover,
  &:active {
    color: $white;

    background-color: $orange;
  }

  &:focus {
    color: $orange-dark;

    border-color: $orange-dark;
  }
}
