$mq: 800px;

$white: #ffffff;
$pink: #FF6698;
$pink-dark: darken($pink, 25%);
$red: #F66B62;
$red-dark: darken($red, 25%);
$orange: #FF8D66;
$orange-dark: darken($orange,20%);
$yellow: #FFC666;
$yellow-dark: darken($yellow, 25%);
$green: #52CC82;
$green-dark: darken($green, 25%);
$blue: #50CCCC;
$blue-dark: darken($blue, 25%);
$black: #4B5454;
$black-dark: darken($black, 25%);
$black-light: lighten($black, 25%);

$default-color: $pink;

@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/Questrial-Regular.ttf') format('ttf');
}

@keyframes rotate {
  0% {
    transform: rotateY(5deg) rotateX(-5deg) perspective(2000px);
  }
  33% {
    transform: rotateY(5deg) rotateX(5deg) perspective(2000px);
  }
  66% {
    transform: rotateY(-5deg) rotateX(5deg) perspective(2000px);
  }
  100% {
    transform: rotateY(-5deg) rotateX(-5deg) perspective(2000px);
  }
}

* + * {
  box-sizing: border-box;
}

body {
  color: $white;
  font-family: 'Questrial', sans-serif;
  font-size: 14px;

  margin: 0;
  height: 100vh;

  @media screen and (min-width: $mq) {
    font-size: 16px;
  }
}

a {
  color: lighten($default-color, 25%);
  text-decoration: none;
}
