@include font-face("questrial",
	font-files(
		"Questrial-Regular.ttf", ttf,
		"Questrial-Regular.woff", woff
        ),
	false, 400, normal
);

body {
	font-family: 'questrial';
	font-weight: 400;
}

a {
	color: $black;
	text-decoration: none;
}