$white: #ffffff;

$pink: #FF6698;
$pink-dark: darken($pink, 25%);

$red: #F66B62;
$red-dark: darken($red, 25%);

$orange: #FF8D66;
$orange-dark: darken($orange, 25%);

$yellow: #FFC666;
$yellow-dark: darken($yellow, 25%);

$green: #52CC82;
$green-dark: darken($green, 25%);

$blue: #50CCCC;
$blue-dark: darken($blue, 25%);

$black: #4B5454;
$black-dark: darken($black, 25%);
$black-light: lighten($black, 25%);