// Reset
*  {
  outline: none;
}

// Styling the standard button
.btn {
	@include btn-animation;
	background: none;
	@include border-radius(4em);
	margin:1.2em 0 0.25em 0;
	padding: 1.2em;
	min-width: 12em;

	font-size: 0.75em;

	&:active {
		@include box-shadow (none);
	}
}

// Styling the close button

.btn-close {
	display: none;
	cursor: pointer;
	padding: 0.2em 0.48em 0.25em 0.48em;
	position: absolute;
	top: 1em;
	right: 1.2em;
}

// Make close button visible on hover 
.link-list {

	li {

		&:hover {

			.btn-close {
				display: inline;
			}
		}
	}
}