// Styling the forms

.new-input {
	border: none;
	@include box-shadow(none);
	display: block;
	margin: 0.25em 0;
	padding: 1em;
	width: 100%;
	box-sizing: border-box;

	font-family: 'questrial';
	font-size: 1em;

	&:active,
	&:focus {
		outline: none;
	}
}