html,
body,
.container,
.options-container,
.row-fluid {
	height: 100vh;
}

// Layout
.row-fluid {
	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-direction: row;
 	flex-direction: row;

	@media screen and (max-width: 43.75rem) {
		-webkit-flex-direction: column;
 		flex-direction: column;
	}

	.span4 {
		-webkit-flex-basis: 34%;
  		flex-basis: 34%;
  		-webkit-align-items: flex-start;
  		align-items: flex-start;	
  		margin: 0.7em;

  		@media screen and (max-width: 43.75rem) {
			-webkit-flex-basis: auto;
  			flex-basis: auto;
		}
	}
}

.input-field {
	margin-top: 1em;
}