body {
	background: $color;
}

// Styling the links
.link-list {
	
	li {
		@include list-animation;
		padding: 1.2em;
		position: relative;

		&:hover {
			background: $white;

			&:after {
				content: "";
			}

			a {
				color: $color;
			}
		}

		a {
			color: $color-light;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			max-width: 10.6rem;
		}
	}
}