.options-container {
	background-color: $white;
	@include box-sizing(border-box);
	height: 97.75vh;
	padding: 5rem;
}

// Layout

.options-row-fluid {
	display: -webkit-flex;
	display: flex;
  	-webkit-flex-direction: row;
 	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.options-span {
	-webkit-flex-basis: 130px;
	flex-basis: 130px;
	-webkit-align-items: stretch;
	align-items: stretch;
	height: 130px;
}

// Style 

.options-color-box {
	border: 1px solid $white;
	cursor: pointer;
	position: relative;

	&:hover {
		@include box-shadow(
			inset 130px 0px 0px rgba(255, 255, 255, 0.25)
			);

		&:before {
			content: "Use this Color?";
			display: block;
			position: absolute;
			top: 44%;
			width: 100%;

			color: $white;
			text-align: center;
		}
	}
}

.options-color-box-active {
	@include box-shadow(
		inset 130px 0px 0px rgba(255, 255, 255, 0.5)
		);
}

.options-color-box-active:before {
	content: "Active Color";
	display: block;
	position: absolute;
	top: 44%;
	width: 100%;

	color: $white;
	text-align: center;
}