/* line 17, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "questrial";
  src: url('fonts/Questrial-Regular.ttf') format('truetype'), url('fonts/Questrial-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* line 9, ../../app/styles/base/_typography.scss */
body {
  font-family: 'questrial';
  font-size: 1em;
  font-weight: 400;
}

/* line 15, ../../app/styles/base/_typography.scss */
a {
  color: #4b5454;
  text-decoration: none;
}

/* line 20, ../../app/styles/base/_typography.scss */
.typography-headline-huge {
  font-size: 2.5rem;
}

/* line 28, ../../app/styles/base/_typography.scss */
.typography-color-decent {
  color: #b1baba;
}

/* line 32, ../../app/styles/base/_typography.scss */
.typography-style-underlined {
  border-bottom: 1px solid #ccd2d2;
  padding-bottom: 1.75rem;
}

/* line 37, ../../app/styles/base/_typography.scss */
.typography-style-verticalrhythm {
  margin-bottom: 1.75rem;
}

/* line 5, ../../app/styles/modules/_layout.scss */
html,
body,
.container,
.options-container,
.row-fluid {
  height: 100vh;
}

/* line 10, ../../app/styles/modules/_layout.scss */
.row-fluid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media screen and (max-width: 43.75rem) {
  /* line 10, ../../app/styles/modules/_layout.scss */
  .row-fluid {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/* line 21, ../../app/styles/modules/_layout.scss */
.row-fluid .span4 {
  -webkit-flex-basis: 34%;
  flex-basis: 34%;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 0.7em;
}
@media screen and (max-width: 43.75rem) {
  /* line 21, ../../app/styles/modules/_layout.scss */
  .row-fluid .span4 {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}

/* line 35, ../../app/styles/modules/_layout.scss */
.input-field {
  margin-top: 1em;
}

/* line 4, ../../app/styles/modules/_list-style.scss */
.link-list li {
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  padding: 1.2em;
  position: relative;
}
/* line 9, ../../app/styles/modules/_list-style.scss */
.link-list li:hover {
  background: white;
}
/* line 12, ../../app/styles/modules/_list-style.scss */
.link-list li:hover:after {
  content: "";
}
/* line 17, ../../app/styles/modules/_list-style.scss */
.link-list li a {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 10.6rem;
}

/* line 3, ../../app/styles/modules/_forms.scss */
.new-input {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
  margin: 0.25em 0;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  font-family: 'questrial';
  font-size: 1em;
}
/* line 16, ../../app/styles/modules/_forms.scss */
.new-input:active, .new-input:focus {
  outline: none;
}

/* line 2, ../../app/styles/modules/_buttons.scss */
* {
  outline: none;
}

/* line 7, ../../app/styles/modules/_buttons.scss */
.btn {
  -webkit-transition-property: border, box-shadow, background;
  -moz-transition-property: border, box-shadow, background;
  -o-transition-property: border, box-shadow, background;
  transition-property: border, box-shadow, background;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  background: none;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  -ms-border-radius: 4em;
  -o-border-radius: 4em;
  border-radius: 4em;
  margin: 1.2em 0 0.25em 0;
  padding: 1.2em;
  min-width: 12em;
  font-size: 0.75em;
}
/* line 17, ../../app/styles/modules/_buttons.scss */
.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 24, ../../app/styles/modules/_buttons.scss */
.btn-close {
  display: none;
  cursor: pointer;
  padding: 0.2em 0.48em 0.25em 0.48em;
  position: absolute;
  top: 1em;
  right: 1.2em;
}

/* line 40, ../../app/styles/modules/_buttons.scss */
.link-list li:hover .btn-close {
  display: inline;
}

/* line 1, ../../app/styles/modules/_options.scss */
.options-container {
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5rem;
}

/* line 9, ../../app/styles/modules/_options.scss */
.options-row-fluid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 18, ../../app/styles/modules/_options.scss */
.options-span {
  -webkit-flex-basis: 130px;
  flex-basis: 130px;
  -webkit-align-items: stretch;
  align-items: stretch;
  height: 130px;
}

/* line 28, ../../app/styles/modules/_options.scss */
.options-color-box {
  border: 1px solid white;
  cursor: pointer;
  position: relative;
}
/* line 33, ../../app/styles/modules/_options.scss */
.options-color-box:hover {
  -webkit-box-shadow: inset 130px 0px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 130px 0px 0px rgba(255, 255, 255, 0.1);
  box-shadow: inset 130px 0px 0px rgba(255, 255, 255, 0.1);
}
/* line 38, ../../app/styles/modules/_options.scss */
.options-color-box:hover:before {
  content: "Use this Color?";
  display: block;
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
  text-align: center;
}
/* line 50, ../../app/styles/modules/_options.scss */
.options-color-box.is-active {
  -webkit-box-shadow: inset 130px 0px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 130px 0px 0px rgba(255, 255, 255, 0.5);
  box-shadow: inset 130px 0px 0px rgba(255, 255, 255, 0.5);
}

/* line 57, ../../app/styles/modules/_options.scss */
.options-color-box-active:before {
  content: "Active Color";
  display: block;
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
  text-align: center;
}

/* line 1, ../../app/styles/theme/_options.scss */
.pink {
  background-color: #ff6698;
}
/* line 8, ../../app/styles/theme/_options.scss */
.pink.options-container {
  background-color: white;
  border: 10px solid #ff6698;
}
/* line 14, ../../app/styles/theme/_options.scss */
.pink .btn {
  border: 2px solid #ffe5ee;
  color: #ffe5ee;
}
/* line 19, ../../app/styles/theme/_options.scss */
.pink .btn:hover {
  background: #ffe5ee;
  border: 2px solid #ffe5ee;
  -webkit-box-shadow: inset 0px 0px 0px 2px #ff6698;
  -moz-box-shadow: inset 0px 0px 0px 2px #ff6698;
  box-shadow: inset 0px 0px 0px 2px #ff6698;
  color: #ff6698;
}
/* line 27, ../../app/styles/theme/_options.scss */
.pink .btn:active {
  color: #ff6698;
}
/* line 32, ../../app/styles/theme/_options.scss */
.pink .btn-close {
  background: #ff6698;
  color: white;
}
/* line 39, ../../app/styles/theme/_options.scss */
.pink .new-input {
  background: #ff99ba;
  color: #ffe5ee;
}
/* line 44, ../../app/styles/theme/_options.scss */
.pink .new-input::-webkit-input-placeholder {
  color: #ff6698;
}
/* line 56, ../../app/styles/theme/_options.scss */
.pink .link-list li:hover a {
  color: #ff6698;
}
/* line 61, ../../app/styles/theme/_options.scss */
.pink .link-list li a {
  color: #ffe5ee;
}

/* line 68, ../../app/styles/theme/_options.scss */
.pink-dark {
  background-color: #e5004b;
}
/* line 75, ../../app/styles/theme/_options.scss */
.pink-dark.options-container {
  background-color: white;
  border: 10px solid #e5004b;
}
/* line 81, ../../app/styles/theme/_options.scss */
.pink-dark .btn {
  border: 2px solid white;
  color: white;
}
/* line 86, ../../app/styles/theme/_options.scss */
.pink-dark .btn:hover {
  background: white;
  border: 2px solid white;
  -webkit-box-shadow: inset 0px 0px 0px 2px #e5004b;
  -moz-box-shadow: inset 0px 0px 0px 2px #e5004b;
  box-shadow: inset 0px 0px 0px 2px #e5004b;
  color: #e5004b;
}
/* line 94, ../../app/styles/theme/_options.scss */
.pink-dark .btn:active {
  color: #e5004b;
}
/* line 99, ../../app/styles/theme/_options.scss */
.pink-dark .btn-close {
  background: #e5004b;
  color: white;
}
/* line 106, ../../app/styles/theme/_options.scss */
.pink-dark .new-input {
  background: #ff4d87;
  color: white;
}
/* line 111, ../../app/styles/theme/_options.scss */
.pink-dark .new-input::-webkit-input-placeholder {
  color: #e5004b;
}
/* line 123, ../../app/styles/theme/_options.scss */
.pink-dark .link-list li:hover a {
  color: #e5004b;
}
/* line 128, ../../app/styles/theme/_options.scss */
.pink-dark .link-list li a {
  color: white;
}

/* line 135, ../../app/styles/theme/_options.scss */
.red {
  background-color: #f66b62;
}
/* line 142, ../../app/styles/theme/_options.scss */
.red.options-container {
  background-color: white;
  border: 10px solid #f66b62;
}
/* line 148, ../../app/styles/theme/_options.scss */
.red .btn {
  border: 2px solid #fddddb;
  color: #fddddb;
}
/* line 153, ../../app/styles/theme/_options.scss */
.red .btn:hover {
  background: #fddddb;
  border: 2px solid #fddddb;
  -webkit-box-shadow: inset 0px 0px 0px 2px #f66b62;
  -moz-box-shadow: inset 0px 0px 0px 2px #f66b62;
  box-shadow: inset 0px 0px 0px 2px #f66b62;
  color: #f66b62;
}
/* line 161, ../../app/styles/theme/_options.scss */
.red .btn:active {
  color: #f66b62;
}
/* line 166, ../../app/styles/theme/_options.scss */
.red .btn-close {
  background: #f66b62;
  color: white;
}
/* line 173, ../../app/styles/theme/_options.scss */
.red .new-input {
  background: #f99892;
  color: #fddddb;
}
/* line 178, ../../app/styles/theme/_options.scss */
.red .new-input::-webkit-input-placeholder {
  color: #f66b62;
}
/* line 190, ../../app/styles/theme/_options.scss */
.red .link-list li:hover a {
  color: #f66b62;
}
/* line 195, ../../app/styles/theme/_options.scss */
.red .link-list li a {
  color: #fddddb;
}

/* line 202, ../../app/styles/theme/_options.scss */
.red-dark {
  background-color: #cd170c;
}
/* line 209, ../../app/styles/theme/_options.scss */
.red-dark.options-container {
  background-color: white;
  border: 10px solid #cd170c;
}
/* line 215, ../../app/styles/theme/_options.scss */
.red-dark .btn {
  border: 2px solid #fef3f3;
  color: #fef3f3;
}
/* line 220, ../../app/styles/theme/_options.scss */
.red-dark .btn:hover {
  background: #fef3f3;
  border: 2px solid #fef3f3;
  -webkit-box-shadow: inset 0px 0px 0px 2px #cd170c;
  -moz-box-shadow: inset 0px 0px 0px 2px #cd170c;
  box-shadow: inset 0px 0px 0px 2px #cd170c;
  color: #cd170c;
}
/* line 228, ../../app/styles/theme/_options.scss */
.red-dark .btn:active {
  color: #cd170c;
}
/* line 233, ../../app/styles/theme/_options.scss */
.red-dark .btn-close {
  background: #cd170c;
  color: white;
}
/* line 240, ../../app/styles/theme/_options.scss */
.red-dark .new-input {
  background: #f5544a;
  color: #fef3f3;
}
/* line 245, ../../app/styles/theme/_options.scss */
.red-dark .new-input::-webkit-input-placeholder {
  color: #cd170c;
}
/* line 257, ../../app/styles/theme/_options.scss */
.red-dark .link-list li:hover a {
  color: #cd170c;
}
/* line 262, ../../app/styles/theme/_options.scss */
.red-dark .link-list li a {
  color: #fef3f3;
}

/* line 269, ../../app/styles/theme/_options.scss */
.orange {
  background-color: #ff8d66;
}
/* line 276, ../../app/styles/theme/_options.scss */
.orange.options-container {
  background-color: white;
  border: 10px solid #ff8d66;
}
/* line 282, ../../app/styles/theme/_options.scss */
.orange .btn {
  border: 2px solid #ffece5;
  color: #ffece5;
}
/* line 287, ../../app/styles/theme/_options.scss */
.orange .btn:hover {
  background: #ffece5;
  border: 2px solid #ffece5;
  -webkit-box-shadow: inset 0px 0px 0px 2px #ff8d66;
  -moz-box-shadow: inset 0px 0px 0px 2px #ff8d66;
  box-shadow: inset 0px 0px 0px 2px #ff8d66;
  color: #ff8d66;
}
/* line 295, ../../app/styles/theme/_options.scss */
.orange .btn:active {
  color: #ff8d66;
}
/* line 300, ../../app/styles/theme/_options.scss */
.orange .btn-close {
  background: #ff8d66;
  color: white;
}
/* line 307, ../../app/styles/theme/_options.scss */
.orange .new-input {
  background: #ffb399;
  color: #ffece5;
}
/* line 312, ../../app/styles/theme/_options.scss */
.orange .new-input::-webkit-input-placeholder {
  color: #ff8d66;
}
/* line 324, ../../app/styles/theme/_options.scss */
.orange .link-list li:hover a {
  color: #ff8d66;
}
/* line 329, ../../app/styles/theme/_options.scss */
.orange .link-list li a {
  color: #ffece5;
}

/* line 336, ../../app/styles/theme/_options.scss */
.orange-dark {
  background-color: #e53b00;
}
/* line 343, ../../app/styles/theme/_options.scss */
.orange-dark.options-container {
  background-color: white;
  border: 10px solid #e53b00;
}
/* line 349, ../../app/styles/theme/_options.scss */
.orange-dark .btn {
  border: 2px solid white;
  color: white;
}
/* line 354, ../../app/styles/theme/_options.scss */
.orange-dark .btn:hover {
  background: white;
  border: 2px solid white;
  -webkit-box-shadow: inset 0px 0px 0px 2px #e53b00;
  -moz-box-shadow: inset 0px 0px 0px 2px #e53b00;
  box-shadow: inset 0px 0px 0px 2px #e53b00;
  color: #e53b00;
}
/* line 362, ../../app/styles/theme/_options.scss */
.orange-dark .btn:active {
  color: #e53b00;
}
/* line 367, ../../app/styles/theme/_options.scss */
.orange-dark .btn-close {
  background: #e53b00;
  color: white;
}
/* line 374, ../../app/styles/theme/_options.scss */
.orange-dark .new-input {
  background: #ff7a4d;
  color: white;
}
/* line 379, ../../app/styles/theme/_options.scss */
.orange-dark .new-input::-webkit-input-placeholder {
  color: #e53b00;
}
/* line 391, ../../app/styles/theme/_options.scss */
.orange-dark .link-list li:hover a {
  color: #e53b00;
}
/* line 396, ../../app/styles/theme/_options.scss */
.orange-dark .link-list li a {
  color: white;
}

/* line 403, ../../app/styles/theme/_options.scss */
.yellow {
  background-color: #ffc666;
}
/* line 410, ../../app/styles/theme/_options.scss */
.yellow.options-container {
  background-color: white;
  border: 10px solid #ffc666;
}
/* line 416, ../../app/styles/theme/_options.scss */
.yellow .btn {
  border: 2px solid #fff5e5;
  color: #fff5e5;
}
/* line 421, ../../app/styles/theme/_options.scss */
.yellow .btn:hover {
  background: #fff5e5;
  border: 2px solid #fff5e5;
  -webkit-box-shadow: inset 0px 0px 0px 2px #ffc666;
  -moz-box-shadow: inset 0px 0px 0px 2px #ffc666;
  box-shadow: inset 0px 0px 0px 2px #ffc666;
  color: #ffc666;
}
/* line 429, ../../app/styles/theme/_options.scss */
.yellow .btn:active {
  color: #ffc666;
}
/* line 434, ../../app/styles/theme/_options.scss */
.yellow .btn-close {
  background: #ffc666;
  color: white;
}
/* line 441, ../../app/styles/theme/_options.scss */
.yellow .new-input {
  background: #ffd999;
  color: #fff5e5;
}
/* line 446, ../../app/styles/theme/_options.scss */
.yellow .new-input::-webkit-input-placeholder {
  color: #ffc666;
}
/* line 458, ../../app/styles/theme/_options.scss */
.yellow .link-list li:hover a {
  color: #ffc666;
}
/* line 463, ../../app/styles/theme/_options.scss */
.yellow .link-list li a {
  color: #fff5e5;
}

/* line 470, ../../app/styles/theme/_options.scss */
.yellow-dark {
  background-color: #e59000;
}
/* line 477, ../../app/styles/theme/_options.scss */
.yellow-dark.options-container {
  background-color: white;
  border: 10px solid #e59000;
}
/* line 483, ../../app/styles/theme/_options.scss */
.yellow-dark .btn {
  border: 2px solid white;
  color: white;
}
/* line 488, ../../app/styles/theme/_options.scss */
.yellow-dark .btn:hover {
  background: white;
  border: 2px solid white;
  -webkit-box-shadow: inset 0px 0px 0px 2px #e59000;
  -moz-box-shadow: inset 0px 0px 0px 2px #e59000;
  box-shadow: inset 0px 0px 0px 2px #e59000;
  color: #e59000;
}
/* line 496, ../../app/styles/theme/_options.scss */
.yellow-dark .btn:active {
  color: #e59000;
}
/* line 501, ../../app/styles/theme/_options.scss */
.yellow-dark .btn-close {
  background: #e59000;
  color: white;
}
/* line 508, ../../app/styles/theme/_options.scss */
.yellow-dark .new-input {
  background: #ffbd4d;
  color: white;
}
/* line 513, ../../app/styles/theme/_options.scss */
.yellow-dark .new-input::-webkit-input-placeholder {
  color: #e59000;
}
/* line 525, ../../app/styles/theme/_options.scss */
.yellow-dark .link-list li:hover a {
  color: #e59000;
}
/* line 530, ../../app/styles/theme/_options.scss */
.yellow-dark .link-list li a {
  color: white;
}

/* line 537, ../../app/styles/theme/_options.scss */
.green {
  background-color: #52cc82;
}
/* line 544, ../../app/styles/theme/_options.scss */
.green.options-container {
  background-color: white;
  border: 10px solid #52cc82;
}
/* line 550, ../../app/styles/theme/_options.scss */
.green .btn {
  border: 2px solid #b4e9c9;
  color: #b4e9c9;
}
/* line 555, ../../app/styles/theme/_options.scss */
.green .btn:hover {
  background: #b4e9c9;
  border: 2px solid #b4e9c9;
  -webkit-box-shadow: inset 0px 0px 0px 2px #52cc82;
  -moz-box-shadow: inset 0px 0px 0px 2px #52cc82;
  box-shadow: inset 0px 0px 0px 2px #52cc82;
  color: #52cc82;
}
/* line 563, ../../app/styles/theme/_options.scss */
.green .btn:active {
  color: #52cc82;
}
/* line 568, ../../app/styles/theme/_options.scss */
.green .btn-close {
  background: #52cc82;
  color: white;
}
/* line 575, ../../app/styles/theme/_options.scss */
.green .new-input {
  background: #79d89e;
  color: #b4e9c9;
}
/* line 580, ../../app/styles/theme/_options.scss */
.green .new-input::-webkit-input-placeholder {
  color: #52cc82;
}
/* line 592, ../../app/styles/theme/_options.scss */
.green .link-list li:hover a {
  color: #52cc82;
}
/* line 597, ../../app/styles/theme/_options.scss */
.green .link-list li a {
  color: #b4e9c9;
}

/* line 604, ../../app/styles/theme/_options.scss */
.green-dark {
  background-color: #247a46;
}
/* line 611, ../../app/styles/theme/_options.scss */
.green-dark.options-container {
  background-color: white;
  border: 10px solid #247a46;
}
/* line 617, ../../app/styles/theme/_options.scss */
.green-dark .btn {
  border: 2px solid #c8efd7;
  color: #c8efd7;
}
/* line 622, ../../app/styles/theme/_options.scss */
.green-dark .btn:hover {
  background: #c8efd7;
  border: 2px solid #c8efd7;
  -webkit-box-shadow: inset 0px 0px 0px 2px #247a46;
  -moz-box-shadow: inset 0px 0px 0px 2px #247a46;
  box-shadow: inset 0px 0px 0px 2px #247a46;
  color: #247a46;
}
/* line 630, ../../app/styles/theme/_options.scss */
.green-dark .btn:active {
  color: #247a46;
}
/* line 635, ../../app/styles/theme/_options.scss */
.green-dark .btn-close {
  background: #247a46;
  color: white;
}
/* line 642, ../../app/styles/theme/_options.scss */
.green-dark .new-input {
  background: #3ec674;
  color: #c8efd7;
}
/* line 647, ../../app/styles/theme/_options.scss */
.green-dark .new-input::-webkit-input-placeholder {
  color: #247a46;
}
/* line 659, ../../app/styles/theme/_options.scss */
.green-dark .link-list li:hover a {
  color: #247a46;
}
/* line 664, ../../app/styles/theme/_options.scss */
.green-dark .link-list li a {
  color: #c8efd7;
}

/* line 671, ../../app/styles/theme/_options.scss */
.blue {
  background-color: #50cccc;
}
/* line 678, ../../app/styles/theme/_options.scss */
.blue.options-container {
  background-color: white;
  border: 10px solid #50cccc;
}
/* line 684, ../../app/styles/theme/_options.scss */
.blue .btn {
  border: 2px solid #b3e9e9;
  color: #b3e9e9;
}
/* line 689, ../../app/styles/theme/_options.scss */
.blue .btn:hover {
  background: #b3e9e9;
  border: 2px solid #b3e9e9;
  -webkit-box-shadow: inset 0px 0px 0px 2px #50cccc;
  -moz-box-shadow: inset 0px 0px 0px 2px #50cccc;
  box-shadow: inset 0px 0px 0px 2px #50cccc;
  color: #50cccc;
}
/* line 697, ../../app/styles/theme/_options.scss */
.blue .btn:active {
  color: #50cccc;
}
/* line 702, ../../app/styles/theme/_options.scss */
.blue .btn-close {
  background: #50cccc;
  color: white;
}
/* line 709, ../../app/styles/theme/_options.scss */
.blue .new-input {
  background: #77d8d8;
  color: #b3e9e9;
}
/* line 714, ../../app/styles/theme/_options.scss */
.blue .new-input::-webkit-input-placeholder {
  color: #50cccc;
}
/* line 726, ../../app/styles/theme/_options.scss */
.blue .link-list li:hover a {
  color: #50cccc;
}
/* line 731, ../../app/styles/theme/_options.scss */
.blue .link-list li a {
  color: #b3e9e9;
}

/* line 738, ../../app/styles/theme/_options.scss */
.blue-dark {
  background-color: #237979;
}
/* line 745, ../../app/styles/theme/_options.scss */
.blue-dark.options-container {
  background-color: white;
  border: 10px solid #237979;
}
/* line 751, ../../app/styles/theme/_options.scss */
.blue-dark .btn {
  border: 2px solid #c6efef;
  color: #c6efef;
}
/* line 756, ../../app/styles/theme/_options.scss */
.blue-dark .btn:hover {
  background: #c6efef;
  border: 2px solid #c6efef;
  -webkit-box-shadow: inset 0px 0px 0px 2px #237979;
  -moz-box-shadow: inset 0px 0px 0px 2px #237979;
  box-shadow: inset 0px 0px 0px 2px #237979;
  color: #237979;
}
/* line 764, ../../app/styles/theme/_options.scss */
.blue-dark .btn:active {
  color: #237979;
}
/* line 769, ../../app/styles/theme/_options.scss */
.blue-dark .btn-close {
  background: #237979;
  color: white;
}
/* line 776, ../../app/styles/theme/_options.scss */
.blue-dark .new-input {
  background: #3cc6c6;
  color: #c6efef;
}
/* line 781, ../../app/styles/theme/_options.scss */
.blue-dark .new-input::-webkit-input-placeholder {
  color: #237979;
}
/* line 793, ../../app/styles/theme/_options.scss */
.blue-dark .link-list li:hover a {
  color: #237979;
}
/* line 798, ../../app/styles/theme/_options.scss */
.blue-dark .link-list li a {
  color: #c6efef;
}

/* line 805, ../../app/styles/theme/_options.scss */
.black {
  background-color: #4b5454;
}
/* line 812, ../../app/styles/theme/_options.scss */
.black.options-container {
  background-color: white;
  border: 10px solid #4b5454;
}
/* line 818, ../../app/styles/theme/_options.scss */
.black .btn {
  border: 2px solid #899696;
  color: #899696;
}
/* line 823, ../../app/styles/theme/_options.scss */
.black .btn:hover {
  background: #899696;
  border: 2px solid #899696;
  -webkit-box-shadow: inset 0px 0px 0px 2px #4b5454;
  -moz-box-shadow: inset 0px 0px 0px 2px #4b5454;
  box-shadow: inset 0px 0px 0px 2px #4b5454;
  color: #4b5454;
}
/* line 831, ../../app/styles/theme/_options.scss */
.black .btn:active {
  color: #4b5454;
}
/* line 836, ../../app/styles/theme/_options.scss */
.black .btn-close {
  background: #4b5454;
  color: white;
}
/* line 843, ../../app/styles/theme/_options.scss */
.black .new-input {
  background: #636f6f;
  color: #899696;
}
/* line 848, ../../app/styles/theme/_options.scss */
.black .new-input::-webkit-input-placeholder {
  color: #4b5454;
}
/* line 860, ../../app/styles/theme/_options.scss */
.black .link-list li:hover a {
  color: #4b5454;
}
/* line 865, ../../app/styles/theme/_options.scss */
.black .link-list li a {
  color: #899696;
}

/* line 872, ../../app/styles/theme/_options.scss */
.black-dark {
  background-color: #0f1111;
}
/* line 879, ../../app/styles/theme/_options.scss */
.black-dark.options-container {
  background-color: white;
  border: 10px solid #0f1111;
}
/* line 885, ../../app/styles/theme/_options.scss */
.black-dark .btn {
  border: 2px solid #96a2a2;
  color: #96a2a2;
}
/* line 890, ../../app/styles/theme/_options.scss */
.black-dark .btn:hover {
  background: #96a2a2;
  border: 2px solid #96a2a2;
  -webkit-box-shadow: inset 0px 0px 0px 2px #0f1111;
  -moz-box-shadow: inset 0px 0px 0px 2px #0f1111;
  box-shadow: inset 0px 0px 0px 2px #0f1111;
  color: #0f1111;
}
/* line 898, ../../app/styles/theme/_options.scss */
.black-dark .btn:active {
  color: #0f1111;
}
/* line 903, ../../app/styles/theme/_options.scss */
.black-dark .btn-close {
  background: #0f1111;
  color: white;
}
/* line 910, ../../app/styles/theme/_options.scss */
.black-dark .new-input {
  background: #3f4747;
  color: #96a2a2;
}
/* line 915, ../../app/styles/theme/_options.scss */
.black-dark .new-input::-webkit-input-placeholder {
  color: #0f1111;
}
/* line 927, ../../app/styles/theme/_options.scss */
.black-dark .link-list li:hover a {
  color: #0f1111;
}
/* line 932, ../../app/styles/theme/_options.scss */
.black-dark .link-list li a {
  color: #96a2a2;
}

/* line 939, ../../app/styles/theme/_options.scss */
.black-light {
  background-color: #899696;
}
/* line 946, ../../app/styles/theme/_options.scss */
.black-light.options-container {
  background-color: white;
  border: 10px solid #899696;
}
/* line 952, ../../app/styles/theme/_options.scss */
.black-light .btn {
  border: 2px solid #f5f6f6;
  color: #f5f6f6;
}
/* line 957, ../../app/styles/theme/_options.scss */
.black-light .btn:hover {
  background: #f5f6f6;
  border: 2px solid #f5f6f6;
  -webkit-box-shadow: inset 0px 0px 0px 2px #899696;
  -moz-box-shadow: inset 0px 0px 0px 2px #899696;
  box-shadow: inset 0px 0px 0px 2px #899696;
  color: #899696;
}
/* line 965, ../../app/styles/theme/_options.scss */
.black-light .btn:active {
  color: #899696;
}
/* line 970, ../../app/styles/theme/_options.scss */
.black-light .btn-close {
  background: #899696;
  color: white;
}
/* line 977, ../../app/styles/theme/_options.scss */
.black-light .new-input {
  background: #b1baba;
  color: #f5f6f6;
}
/* line 982, ../../app/styles/theme/_options.scss */
.black-light .new-input::-webkit-input-placeholder {
  color: #899696;
}
/* line 994, ../../app/styles/theme/_options.scss */
.black-light .link-list li:hover a {
  color: #899696;
}
/* line 999, ../../app/styles/theme/_options.scss */
.black-light .link-list li a {
  color: #f5f6f6;
}
