<ul class="row-fluid" ng-class="[activeClass]">
	<li class="span4" ng-repeat="list in lists" id="list-{{$index + 1}}">
		<ul class="link-list" droppable drop="list" list="list" all="lists">
			<li draggable="hyperlink" all="lists" parent="list" ng-repeat="hyperlink in list.hyperlinks" id="{{$parent.$index}}"><i class="btn-draggable">&nbsp;</i><a href="{{hyperlink.url}}" target="_blank">{{hyperlink.name}}</a><i class="btn-close" ng-click="deleteListItem($parent.$parent.$parent.$index, $parent.$index)">x</i></li>
		</ul>
		<form class="input-field" ng-submit="addListItem($index)">
			<input type="text" placeholder="Enter new name" class="new-name new-input" ng-model="list.newItemName">
			<input type="text" placeholder="Enter new link" class="new-link new-input" ng-model="list.newItemURL">
			<button class="btn" value="Add" type="submit">Add</button>
		</form>
	</li>
</ul>
