<div class="bookmark">
  <a href="{{bookmark.url}}" class="bookmark__link">{{bookmark.name}}</a>
  <span class="bookmark__button-wrapper">
    <button class="bookmark__button" (click)="_submitted=true" [hidden]="_submitted">Edit</button>
    <button class="bookmark__button" (click)="onDelete(bookmark)">Delete</button>
  </span>
  <form class="bookmark__form" [hidden]="!_submitted" (ngSubmit)="onSubmit()">
    <label>Name: </label>
    <input [(ngModel)]="bookmark.name" placeholder="name"/>
    <label>URL: </label>
    <input [(ngModel)]="bookmark.url" placeholder="name"/>
    <button type="submit">Done</button>
  </form>
</div>
